@CHARSET "UTF-8";

.info-panel {
/*	height: 400px; */
	overflow: auto;
}

.list-group {
  padding-left: 0;
  margin-bottom: 5px;
  margin-left: 0px;
}
.list-group-item {
  position: relative;
  padding: 0px 5px;
  display: block;

  border: 1px solid #ddd;
}

.form-horizontal .control-label {
	text-align: left;
}

.center {
	width: 100%;
	margin: 0px auto;
}

select {
	width: 100%;
}

table {
	border-spacing: 0px;
}

body {
	width: 95%;
	margin: 0 auto;
}

