@CHARSET "UTF-8";

.info-panel {
/*	height: 400px; */
	overflow: auto;
}

.form-horizontal .control-label {
	text-align: left;
}

.center {
	width: 100%;
	margin: 0px auto;
}

select {
	width: 100%;
}

table {
	border-spacing: 0px;
}

body {
	width: 95%;
	margin: 0 auto;
}