<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">${hibernate.dialect}</property>
		<property name="hibernate.show_sql">${hibernate.show_sql}</property>
		<property name="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</property>
		<property name="hibernate.cache.use_second_level_cache">${hibernate.use_second_level_cache}</property>
		<property name="hibernate.cache.use_query_cache">${hibernate.use_query_cache}</property>
        <property name="hibernate.cache.generate_statistics">${hibernate.cache.generate_statistics}</property>
	</session-factory>
</hibernate-configuration>