<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="main-template :: header(title='Country')"></div>

<body>

	<div th:replace="main-template :: navbar"></div>

	<div id="wrapper">
		<div th:replace="main-template :: sidebar"></div>
        <div th:replace="main-template :: sidebar-button"></div>
        
		<!-- Page content -->
		<div class="container">
			<div th:replace="main-template :: content-header"></div>
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset">
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<thead>
								<tr>
									<th>Code</th>
									<th>Country</th>
									<th>Region</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="country : ${countries}">
									<td th:text="${country.ISOCode}">ISO</td>
									<td th:text="${country.fullName}">FullName</td>
									<td th:text="${country.region}">Region</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>

		</div>
		<!-- /page-content-wrapper -->
	</div>
	<!-- /wrapper -->

	<div th:replace="main-template :: jsload"></div>
</body>
</html>
