<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
<meta charset="utf-8" />
<meta name="description" content="" />
<meta name="author" content="WFP" />
<link rel="shortcut icon" type="image/x-icon"
	href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title} + ' | FITTESTPlanner'">FITTESTPlanner</title>

<link href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../css/simple-sidebar.css"
	th:href="@{/css/fittest-simple-sidebar.css}" rel="stylesheet" />
<link href="../../css/fittest.css" th:href="@{/css/fittest.css}"
	rel="stylesheet" />
<link href="../../css/fittest-login.css"
	th:href="@{/css/fittest-login.css}"
	rel="stylesheet"
	th:if="${loginCSS}"/>
<!--[if lt IE 9]>
    <script src="../../js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
	<nav class="navbar navbar-inverse navbar-default" role="navigation"
		th:fragment="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">FITTEST Planner</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>

				<form class="navbar-form navbar-left" role="search"></form>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-star">
										Profile</span></a></li>
							<li class="divider"></li>
							<li><a href="#"><span class="glyphicon glyphicon-off">
										Logout</span></a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Theme <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>

	<div id="wrapper">
		<div id="sidebar-wrapper" th:fragment="sidebar">
			<ul class="sidebar-nav">
				<li class="sidebar-section">Main</li>
				<li><a href="#"><span class="glyphicon glyphicon-home">
							Dashboard</span></a></li>
				<li><a href="requirement"><span class="glyphicon glyphicon-book">
							Requirements</span></a></li>
				<li><a href="data"><span class="glyphicon glyphicon-edit">
							Data Entry</span></a></li>
				<li><a href="deployment"><span class="glyphicon glyphicon-list-alt">
							Deployments</span></a></li>

				<li class="sidebar-section">Edit</li>
				<li><a href="activity"><span class="glyphicon glyphicon-asterisk">
							Activity</span></a></li>
				<li><a href="staff"><span class="glyphicon glyphicon-user">
							Staff</span></a></li>
				<li><a href="profiletype"><span class="glyphicon glyphicon-briefcase">
							Profile Type</span></a></li>
				<li><a href="country"><span class="glyphicon glyphicon-globe">
							Country</span></a></li>
			</ul>
		</div>

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header"></div>

			<div th:fragment="sidebar-button">
				<button id="menu-toggle" type="button"
					class="btn btn-default btn-md">
					<span class="glyphicon glyphicon-th-list"></span> Menu
				</button>
			</div>

			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset"></div>

		</div>
		<!-- /page-content-wrapper -->
	</div>
	<!-- /wrapper -->
	>

	<div th:fragment="jsload">
		<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
		<script src="../../js/bootstrap.min.js"
			th:src="@{/js/bootstrap.min.js}"></script>
		<script src="../../js/fittest.js" th:src="@{/js/fittest.js}"></script>
	</div>
</body>
</html>
