<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="main-template :: header(title='Staff')"></div>

<body>

	<div th:replace="main-template :: navbar"></div>

	<div id="wrapper">
		<div th:replace="main-template :: sidebar-button"></div>
	
		<div th:replace="main-template :: sidebar"></div>

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header" th:fragment="content-header"></div>

			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset" th:fragment="page-content">
				<div class="row">
					<div class="col-md-12">
						<p th:text="${title}">hello</p>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>

		</div><!-- /page-content-wrapper -->
	</div><!-- /wrapper -->

	<div th:replace="main-template :: jsload"></div>
</body>
</html>
